#root {
  max-width: 880px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top-section-container {
  display:flex;
}
.top-section-left {
  width: 50%;
  margin: 5px;
}

.top-section-right-container {
  width: 50%;
  margin: auto;
}

.top-section-right {
  margin: 5px;
}

.search-section {
  padding: 10px;
}

.results-section {
  margin: auto;
}

.search-results-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results {
  margin: 20px
}

h4 {
  margin-bottom: 0;
}

.results-img {
  border-radius: 80%;
  width: 150px;
  cursor: pointer;
}

.results-img:hover {
  border-radius: 10%;
  width: 250px
}

input {
  height:25px;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(49,49,49,0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 800px;
  min-width: 500px;
  min-height: 300px;
}

.ingredients-container {
  width:100%;
  /* margin: 0 auto */
  display: flex;
}

.ingredients-container .ingredients{
  text-align: left;
  width: 50%
}

.ingredients-container img{
  text-align: left;
  border-radius: 10px;
  width: 250px
}
