#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top-section-container {
  display:flex;
}
.top-section-left {
  width: 50%;
  margin: 5px;
}

.top-section-right-container {
  width: 50%;
  margin: auto;
}

.top-section-right {
  margin: 5px;
  width:500px
}

.search-section {
  padding: 10px;
}
