#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.top-section-container {
  display:flex;
}
.top-section-left {
  width: 50%;
  margin: 5px;
}

.top-section-right-container {
  width: 50%;
  margin: auto;
}

.top-section-right {
  margin: 5px;
}

.search-section {
  padding: 10px;
}

.results-section {
  margin: auto;
}

.search-results-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results {
  margin: 20px
}

.results img {
  border-radius: 80%;
  width: 150px;
}
